body {
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
  color: black;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  background: -webkit-linear-gradient(
    90deg,
     #ffffff,
     #ff1a1a,
     #000000);                         
     background: linear-gradient(
       90deg,
        #ffffff,
        #ff1a1a,
        #000000);                                              
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
}
a {
  text-decoration: none;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 180px;
}

.nav-item {
  margin-right: 45px;
}

nav {
  display: flex;
}

.top {
  background-color: black;
  height: 150px;
  color: cornsilk;
}

.top-link {
  color: white;
}

.top-link:hover {
  color: red;
}

.pot {
  background-color: black;
  height: 150px;
}

.pot-link {
  margin: 15px;
  color: white;
}

.pot-link:hover {
  color: red;
}

.pott {
  color: white;
}

.vop {
  width: 200px;
}

.log {
  width: 200px;
}

ul {
  list-style: none;
}

